body{
    color: white;
    text-align: center;
    font-family: georgia;
}



#page {
	padding: 0;
}



#header {
	background-color: #111214;
	text-align: left;
}

#header #list {
	list-style-type: none;
	font-size: 0.8em;
	padding: 25px 0 0 0;
}

#header #list li {
	display: inline;
	padding-left: 20px;
}

#header #list li a {
	color: #fff;
}

#logo {
	width: 100%;
    height: auto;
    top:-500px;
}

#header form {
	padding-top: 12px;
}

#header form input {
	color: black;
}

#headerImage {
	background: #111214;
	border: none;
}

#headerImage img{
	height: auto;
	width: 50%;
	border: none;
}

#sloganAndSocial {
	background: #111214;
	text-align: left;
	color: #abafb5;
	padding-top: 15px;
	padding-bottom: 15px;
}

#sloganAndSocial #icons {
	text-align: center;
}

#sloganAndSocial i {
	padding:0 15px;
	color: #abafb5;
}

#sloganAndSocial h3 {
	font-size: 20px;
}



#mainContent {
	color: black;
	text-align: left;
	padding-right: 0;
}

#imageStyle {
	border: 3px solid #d5d9e0;
	width: 200px;
	height: 210px;
}

#spacing {
	padding: 35px 50px 35px 0;
	position: relative;
	}

#spacing:before {
	position: absolute;
  	left    : 15%;
  	bottom  : 0;
  	height  : 1px;
 	width   : 70%;  /* or 100px */
 	border-bottom:1px solid #d5d9e0;

}


#sideInfo {
	background-color: #d5d9e0;
	background: -webkit-linear-gradient(#d5d9e0, #fff); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#d5d9e0, #fff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#d5d9e0, #fff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#d5d9e0, #fff); /* Standard syntax */
    color: black;
    text-align: left;
    padding: 25px 50px;
}

#sideInfo .infoElement {
	padding: 20px 0;
}

.more {
	padding: 5px 20px;
	background: -webkit-linear-gradient(#4980d8, #3661a5); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#4980d8, #3661a5); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#4980d8, #3661a5); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#4980d8, #3661a5); /* Standard syntax */
	color: #d5d9e0;
}

.more:hover {
	color: #fff;
    text-decoration: none;
}

#navNumbers {
	padding: 35px 50px 35px 0;
}

#sponsors {
	padding-top: 10px;
	padding-bottom: 20px;
	text-align: left;
	color: black;
}

#navNumbers a {
	text-align: left;
	display: inline-block;
	padding: 10px;
	background-color: #d5d9e0;
	color: #3d4144;
}

#navNumbers .noHyper a:hover {
	text-decoration: none;
}

#sponsorImageStyle {
	padding: 80px 120px;
	border: 2px solid #d5d9e0;
}

#footer {
	background-color: black;
	text-align: left;
	padding-bottom: 30px;
}

#footer i {
	padding: 5px;
	color: #abafb5;
}

#footer .thumb {
	padding: 5px;
}

#footer p {
	color: #abafb5;
}

#footer span {
	color: #d5d9e0;
}